/* * {
    margin: 0px;
    text-transform: capitalize;
    
} */

body {
   display: flex;
   flex-direction: column;
   background-color: #c0c0c0;

}
main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1.5rem;
    width: 100%;
    max-width: 1280px;
    margin-bottom: 6rem;
    background-color: #003366;
    border-radius: 0rem 0rem 1rem 1rem;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #F2F1E9;
  color: #003366;
  border: 1px solid #c0c0c0;
  border-radius: 1rem 1rem 0rem 0rem;
}
h1 {
  font-family: 'Josefin Slab', cursive;
  padding-left: 10px;
}

 h2 {
font-family: 'Open Sans Condensed', cursive;
font-size: 1rem;
margin: 0px;
}
h3 {
  font-family: 'Josefin Slab', cursive;
  margin: 5px;
}
p {
  font-family: 'Josefin Slab', cursive;
  margin: 15px;
text-transform: capitalize;
}
 


/* Card Styling */
 .charDivs {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
} 
#picDivs {
    width: 90%;
    padding: 10px;

}
.scene {
  width: 200px;
  height: 260px;
  margin: 40px 0;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg) scale(1.1);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #003366;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
 backface-visibility: hidden;
}

.card__face--front {
  border: 3px solid #c0c0c0;
  border-radius: 1rem;
  margin: 10px;
  background-color: #F2F1E9;
}
.card__face--front:hover {
  transition-duration: 1.2s;
 transform: scale(1.1)
}

.card__face--back {
  border: 3px solid #c0c0c0;
    border-radius: 1rem;
    margin: 10px;
    background-color: #F2F1E9;
  transform: rotateY(180deg);
}

  

/*Button*/
#new, #custom, #filter {
  font-family: 'Open Sans Condensed', cursive;
font-size: 1rem;
height: 4rem;
width: 150px;
border: 2px solid #c0c0c0;
color:#c0c0c0;
background-color: #003366;
border-radius: 1rem;
margin-left: 10px;
margin-top: 10px;
margin: 5px 10px 0px 10px;
}