:root {
    --gold: #A6904E;
    --black: #0C0C0D;
    --light-black: #3E3E40;
    --white: #F2F2F2;
    
  }

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Dosis', sans-serif;
     
}
#navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: rgba(62, 62, 64, 0.5);
  color: white;
 
 
  
}
.navlist {
display: flex;
justify-content: space-around;
width: 300px;
animation-delay: 1s;

}
a {
color: white;
  text-decoration: none;

  
}
.navlist a:hover {
color:#8C713F;
border-top: 1px solid var(--gold);
border-bottom: 1px solid var(--gold);
}
li {
  list-style: none;
  margin-right: 2rem;
  color: var(--white);
  font-size: 1.5rem;
}
#welcome-section {
    height: 100vh;
    width: 100%;
    display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/Images/city.jpg");
  text-align: center;    
}
#welcome-section h1 {
  color: var(--white);
  padding: 10px;
  border-bottom: 1px solid #A6904E;
  animation-duration: 3s;
}

#about {
  background-color: var(--light-black);
  align-items: left;
  padding-left: 10%;
  color: white;
}
#info {
  display: flex;
  margin-top: 20px;
  width: 80%;

}
#about h2 {
  font-size: 3rem;
  padding: 7px;
  width: 250px;
  border-bottom: 1px solid #A6904E;
}
#about p {
padding-top: 10px;
}
#aboutImage {
  height: 200px;
  padding: 10px;
 margin: 0px 20px 20px 0px;
  border: 2px solid #A6904E;
}

span {
  color: var(--gold);
}

#projects {
  background-color: var(--black);
  padding: 10px;
}
#projects figcaption {
  color: var(--white);
  padding-bottom: 10px
}

#projects figcaption:hover {
  color: var(--gold);
}
.projects-grid {
display: grid;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  grid-gap: 2rem;
  width: auto;
  margin: 10px;  
}
#image {
  width: 150px;
  height: 150px;
  padding: 50px;
}
.projects-grid figure {
display: flex;
flex-direction: column;
align-items: center;
border: 2px solid var(--gold);

}
#project {
display: flex;
justify-content: center;
}
#projects figcaption {
font-size: 1rem;
}
#projects h2 {
  font-size: 3rem;
  padding: 10px;
  color: var(--white);
}
h1 {
  font-size: 4rem;
}
h3 {
  font-size: 2rem;
  padding: 10px;
}
#contact {
  display: flex;
 flex-direction: column;
  align-items: center;
  background-color: var(--light-black);
  color: var(--white);
}
#contact h2 {
  font-size: 3rem;
  padding: 10px;
  border-bottom: 1px solid #A6904E;
}
#contact figcaption:hover {
  color: var(--gold);
}
#profiles {
  display: flex;
  
}
#profiles figure {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#profiles figcaption {
  padding-top: 10px;
  color: var(--white);
}

#contact figure img {
 width: 50px;
  height: 50px;
}

footer {
  display: flex;
  background-color: var(--black);
  align-items: center;
  justify-content: flex-end;
  color: var(--white);
  height: 40px;
}
footer p {
  padding-right: 10px;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
}





